{% extends 'base.html' %}

{% block title %}- List{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <header class="header clear fix">
        <nav class="navbar navbar-expand-sm  bg-success navbar-dark ">
            <ul class="navbar-nav">
                <li class="nav-item active"><a href="{% url 'board:board_list' %}" class="nav-link ">삽니다</a></li>
                <li class="nav-item "><a href="{% url 'secondboard:board_list' %}" class="nav-link ">팝니다</a>
                </li>

            </ul>
        </nav>
    </header>
</div>
<div class="column">
    <div calss="col-2">
        <div class="list-group">
            <a href="/boards" class="list-group-item {% if not current_category %}active{% endif %}">All</a>
            {% for c in categories %}
            {{c.name}}
            <a href="{{c.get_absolute_url}}"
                class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}"> {{c.category}}</a>
            {% endfor %}
        </div>
    </div>
</div>



{%for post in products %}

<ul>
    <li>
        <a href="{% url 'board:board_detail' pk=post.id %}">{{post.text}}</a>
    </li>
</ul>
{% endfor %}
<p class="text-right">
    <a href="{% url 'board:board_upload' %}" class="btn btn-xs btn-success">업로드하기</a>
    <a href="{% url 'account:logout' %}" class="btn btn-xs btn-success">Logout</a>
</p>
{% else %}
<a href="{% url 'account:login' %}" class="btn btn-xs btn-success">Login</a>
{% endif %}

{% endblock %}